config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration" type="configurationType"/>
  <xs:complexType name="moduleType">
    <xs:sequence>
      <xs:element type="xs:string" name="name" />
      <xs:element type="sourceType" name="source"/>
      <xs:element type="xs:string" name="destination"/>
      <xs:element type="xs:dateTime" name="lastsync"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sourceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="modulesType">
    <xs:sequence>
      <xs:element type="moduleType" name="module" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="passwordType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="encryption"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element type="xs:string" name="username"/>
      <xs:element type="passwordType" name="password"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configurationType">
    <xs:sequence>
      <xs:element type="userType" name="user"/>
      <xs:element type="modulesType" name="modules"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>